.imgCard *
{
    padding: 0;
    margin: 0;
    border: 0;
}

.imgCard
{
    width: 100%;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    border: 3px lightgray solid;
    padding: 1px;
}

.imgCard div h4, .imgCard p
{
    padding: 5px;
}

.imgCard div button
{
    background-color: lightblue;
    padding: 3px;
    margin: 5px;
    width: 25%;
    border-radius: 5px;
}

.imgCard img 
{
    height: 25vh;
}